body 
{
	background-color: rgb(104, 187, 285);
}
#left-box
{
	float: left;
	background-color: rgb(9,30,45);
	color: white;
}
#left-box img
{
	width: 60px;
	height: 70px;
}
#experiences-box
{
	background-color: white;
	
}
#studies-box
{
	background-color:white;
}